{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1 class="is-size-1 has-text-centered mb-6">{{ title }}</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="register-login-form" action="{{ path('app_login') }}" method="post">
            <div class="field">
                <label for="username" class="label">Email:</label>
                <div class="control has-icons-left">
                    <input type="text"
                           id="username"
                           name="_username"
                           value="{{ last_username }}"
                           class="input"
                           placeholder="Your email"
                    >
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label for="password" class="label">Password:</label>
                <div class="control has-icons-left">
                    <input type="password"
                           id="password"
                           name="_password"
                           class="input">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <div class="field is-grouped mt-5">
                <div class="control">
                    <button type="submit" class="button is-link">Login</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
