.main-content {
    min-height: calc(100vh - 224px);
}

.register-login-form {
    max-width: 425px;
    margin: 0 auto;
}

.test-data {
    margin: 0 auto;
    max-width: 600px;
    border: 1px dotted #ccc;
    padding: 6px;
    margin-bottom: 12px;
}

.gf-image {
    display: block;
    margin: 0 auto;
}

.order-info {
    width: fit-content;
    margin: 0 auto;
}

