{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="section">
            <h1 class="is-size-3 has-text-centered">{{ title }}</h1>
            <div class="col1">

                <div class="buttons">
                    <a href="#" class="button is-primary">Add to deposit</a>
                    <a href="#" class="button is-primary">Take from deposit</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}